snippet html "html" b
<html lang="${1:zh-Hans}">
	$0
</html>
endsnippet

snippet head "head" b
<head>
	<meta charset="utf-8">
	<title>$1</title>
</head>
endsnippet

snippet body "body" b
<body>
	$0
</body>
endsnippet

snippet p "paragraph"
<p>$0</p>
endsnippet
